# Project files
# Managed by GetVersionFromGitTag.cmake
VERSION
_version.py

# Temp files
*.swp

# C++ and temp files
*.o
*.so
*.nfs*
build*/
*_results.tex

# Python
*.coverage*
htmlcov/
tests/htmlcov/
__pycache__/
cobertura.xml
test_results.xml
